@font-face {
    font-family: 'Roboto-thin';
    src: local('Roboto Thin'), local('Roboto-Thin'), url("../fonts/Robotothin.woff2") format('woff2'), url("../fonts/Robotothin.woff") format('woff'), url("../fonts/Robotothin.ttf") format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'Roboto-light';
    src: local('Roboto light'), local('Roboto-Light'), url("../fonts/Robotolight.woff2") format('woff2'), url("../fonts/Robotolight.woff") format('woff'), url("../fonts/Robotolight.ttf") format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'Roboto-medium';
	src: local('Roboto Medium'), local('Roboto-Medium'), url("../fonts/Roboto-Medium.ttf") format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto-regular';
    src: local('Roboto'), local('Roboto-Regular'), url( "../fonts/Roboto-Regular.ttf") format('truetype');
    font-weight: 400;
}
body {
	margin: 0;
	}
#wrap {
	display: flex;
	justify-content: center;
}
header h3 {
    font-family: 'Roboto-light', sans-serif;
    color: #50627e;
    font-size: 28px;
    border-bottom: 1px solid  #E4E8EF;
    padding: 0 0 10px 10px;
    margin: 20px auto 30px;
    width: 100%;
}
.boxshadow{
	display:flex;
	flex-direction: column;
}
.boxshadow:hover {
	box-shadow: 0 0 7px #FFCC00; 
}
.imgbox{
	width: 100%;
	position: relative;
}
.imgbox img{
	width: 100%;
	height: auto;
	margin:0 0 -4px 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
 }
.imgbox:hover .topdeal{
	display: block;
 }
.topdeal {
    display:none;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 30px;
    width: 100%;
	background-color: #ff9c009e;
	z-index: 3;
 }
.topdeal p{
	position:relative;
	font-family: 'Roboto-regular', sans-serif;
    font-size: 14px;
	color: white;
    text-align:center;
 	z-index: 4;
	bottom:8px;
 }
.skidka {
	position: absolute;
	top: 20px;
	right: 15px;
	height: 40px;
    width: 40px;
	background-color: #ff9c00;
    border-radius: 50%;
    transform: rotateZ(15deg);
    box-shadow: 0 1px 5px 0 rgba(80,98,126,.2);
	z-index: 0;
}
.skidka p{
	position: relative;
	top:-3px;
	font-family: 'Roboto-regular', sans-serif;
    font-size: 14px;
	color: white;
	text-align: center;
}
.infblok {  
	border: 1px solid #e4e8ef;
    border-radius: 0 0 2px 2px;
	border-top: none;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;
	padding: 15px; 
}
.inftop {
	height:75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Roboto-light', 'sans-serif';
	font-size: 14px;
	color: #3a3a3a;
}
.inftop button {
	background-color: #e0f5ff;
	border-radius: 3px;
	padding: 10px 15px;
	border: none;
	cursor: pointer;
	font-family: 'Roboto-light', 'sans-serif';
	font-size: 14px;
	color: #3a3a3a;
}
.deal {
	height:65px;
	text-decoration: none;
	font-family: 'Roboto-regular', 'sans-serif';
	font-size: 18px;
	color: #3a3a3a;
	margin: 6px 0 3px;
}
.infomidle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 35px;
	margin: 0 0 8px;
	z-index: 1;
	box-sizing: inherit;
}
.infomidle a {
	text-decoration: none;
	font-family: 'Roboto-light', 'sans-serif';
	font-size: 16px;
	color: #3a3a3a;
}
.arrow {
	cursor: pointer;
}
.dropvis {
	display:none;
}
.arrow:hover .dropvis {
	position: relative;
	display: block;
}
.dropvis ul{
	width: 230px;
	border: 1px solid white;
	box-shadow: 0 0 5px #CECEFF;
	border-radius: 2px;
	background-color: white;
	list-style: none;
	position: absolute;
	top: -10px;
	right: -105px;
	padding: 15px;
	z-index: 1;
	-webkit-box-shadow: 0 0 5px #CECEFF;
}
.triangle {
	box-shadow: 0 0 5px #CECEFF;
	position: absolute;
	width: 15px;
	height: 15px;
	top: 0;
	right: 16px;
	background-color:white;
	transform: rotateZ(45deg);
	z-index:1;
}
.triangle2 {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 0;
	right: 16px;
	background-color:white;
	transform: rotateZ(45deg);
	z-index: 3;
}
.dropvis ul li {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	width: auto;
	height: 30px;
	border: 1px solid #e4e8ef;
	border-radius: 2px;
	background-color: white;
	margin: 10px 0;
}
.dropvis ul li span{
	background-color: #50627e;
	font-family: 'Roboto-regular', 'sans-serif';
	font-size: 14px;
	color: white;
	padding: 8px; 
}
.dropvis ul li p{
	font-family: 'Roboto-regular', 'sans-serif';
	font-size: 14px;
	color: #50627e;
	padding: 8px; 
	margin: 0;
}
.arrow img {
    border: none;
    width: 18px;
    padding: 0 15px;
}
.arrow:hover img {
	transform:rotateZ(180deg);
}
.hotelname {
	height:34px;
	font-family: 'Roboto-light', 'sans-serif';
	font-size: 14px;
	color: #3a3a3a;
	margin: 4px 0 0;
}
.hotellocat {
	height:28px;
	font-family: 'Roboto-light', 'sans-serif';
	font-size: 12px;
	color: #3a3a3a;
	margin: 4px 0 0;
	padding-left: 5px;
}
.infoprice {
    display: flex;
    align-items: center;
    border: 1px solid #e4e8ef;
    height: 80px;
}
.infoprice p {
	white-space: pre;
	position:relative;
	color: #ff7b7b;
    font-family: 'Roboto-regular', 'sans-serif';
    font-size: 22px;
	margin: 5px;
}
.infoprice p:after {
	content:"";
	display:block;
	position:absolute;
	left:2px;top:40%;
	color: #ff7b7b;
	width:100%;
	height:0;
	border-bottom:2px solid #ff7b7b;;
	transform:rotate(-10deg);
}
.infoprice strong{
	font-family: 'Roboto-regular', 'sans-serif';
	font-size: 26px;
	color: #3a3a3a;
	padding: 10px 15px 10px 10px;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 100%;
}
section .item {
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    padding:  10px;
}
@media (max-width : 575px ){
	section {
	max-width: 575px;
    }
    header h3 {
	    max-width: 575px;
	    margin: 20px 5px 30px;
		font-size: 22px;
    }
}

@media (min-width: 576px) and (max-width: 767px){
	section, header h3 {
	max-width: 520px;
	}
	section .item {
	max-width: 230px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	section, header h3 {
	max-width: 700px;
    }
	section .item {
	max-width: 320px;
    }
}

@media (min-width: 992px) and (max-width: 1279px){
	section {
	justify-content: space-between;
	max-width: 900px;
	margin: 0 10px;
	}
	section .item {
	max-width: 280px;
	}
	header h3 {
		max-width: 900px;
	}
}

@media (min-width: 1280px){	
	section, header h3  {
	max-width: 1200px;
	}
	section .item {
	max-width: 275px;
	}
}
